.techs {
  padding: 24px 32px;
  display: block;
  list-style: none;

  &__item {
    position: relative;
    width: 240px;
    height: 160px;
    border: 1px solid $color-gray;
    border-radius: 6px;
    background-color: $color-white;
    margin: 8px;
  }

  &__text {
    font-family: $font-family;
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $text-dark;
    margin: 16px;
  }

  &__button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display:block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    background: url('./../img/go.svg') no-repeat;
  }

  @media (min-width: 768px) {
      & {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 12px;
        margin: 0 auto;
        height: 205px;
        overflow: hidden;
      }

      &__wrapper {
        width: 33%;
      }

      &__item {
        min-width: 224px;
        width: 90%;
        margin: 8px 12px;
      }
    }

    @media (min-width: 1120px) {
      & {
        width: 1120px;
      }

      &__wrapper {
        width: auto;
      }

      &__item {
        width: 240px;
        margin: 8px 16px;
      }
    }
}
