.wrapper {

  background-color: $color-bg;

  &__inner {
    max-width: 1120px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    &__inner {
      margin-left: 320px;
    }
    &__outer {
      margin: 0 auto;
      max-width: 1440px;
      position: relative;
    }
  }
}
