* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import 'fonts.scss';
@import 'variables.scss';

@import './blocks/button.scss';
@import './blocks/header.scss';
@import './blocks/title.scss';
@import './blocks/navigation.scss';
@import './blocks/article.scss';
@import './blocks/cards.scss';
@import './blocks/brands.scss';
@import './blocks/techs.scss';
@import './blocks/services.scss';
@import './blocks/info.scss';
@import './blocks/footer.scss';
@import './blocks/burger.scss';
@import './blocks/lang-select.scss';
@import './blocks/modal.scss';
@import './blocks/wrapper.scss';
@import './blocks/blur.scss';
@import './blocks/swiper-bundle.scss';
