$color-highlight: #41F6D7;
$color-highlight-button: #B8FFEC;
$color-bg: #F8F8F8;
$color-header-border: #D9FFF5;
$color-white: #fff;
$color-gray: #EAEAEA;

$text-color: #7E7E82;
$text-dark: #1B1C21;
$text-rose: #FF3E79;

$font-family: 'TT Lakes', sans-serif;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;
$font-size-xl: 28px;

$line-height-s: 20px;
$line-height-m: 24px;
$line-height-l: 32px;
$line-height-xl: 40px;
